<table border="1">
	<thead>
		<tr>
			<th>Codigo de contrato</th>
			<th>Proveedor</th>
			<th>Medicamento</th>
			<th>Unidad</th>
			<th>Precio Unitario</th>
			<th>Monto anterior</th>
			<th>Unidades a Comprar</th>
			<th>SubTotal</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>02/2017</td>
			<td>Laboratorio San Salvador</td>
			<td>Acetaminofen</td>
			<td>Caja</td>
			<td>12.00</td>
			<td>1200.00</td>
			<td><input id="product1" type="number"></td>
			<td id="subtotal1"></td>
		</tr>
		<tr>
			<td>03/2017</td>
			<td>Laboratorio San Miguek</td>
			<td>Ibuprofeno</td>
			<td>CTO</td>
			<td>19.12</td>
			<td>9560.00</td>
			<td><input id="product2" type="number"></td>
			<td id="subtotal1"></td>
		</tr>
		<tr>
			<td>05/2017</td>
			<td>Drogueria San Salvador</td>
			<td>Extasis</td>
			<td>Lote</td>
			<td>90.00</td>
			<td>80,000</td>
			<td><input id="product3" type="number"></td>
			<td id="subtotal1"></td>
		</tr>
	</tbody>

</table>