{% extends 'base.html.twig' %}
{% block title%} Analizador {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Compra N. LP12/2017</h3>
                <h3 class="text-muted m-b-40">Contrato N. 1221</h3>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#presupuesto" aria-controls="presupuesto" role="tab" data-toggle="tab" aria-expanded="true">
                            <span class="visible-xs">
                                <i class="ti-presupuesto"></i>
                            </span>
                            <span class="hidden-xs">Analisis de 20% de incremento</span>
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a href="#criticidad" aria-controls="criticidad" role="tab" data-toggle="tab" aria-expanded="false">
                            <span class="visible-xs">
                                <i class="ti-user"></i>
                            </span> 
                            <span class="hidden-xs">Analisis de Criticidad</span>
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="presupuesto">
                        <div class="col-sm-12">
                            <div class="white-box">
                                {# aqui empieza el encabezado de la tabla #}
                                <div class="col-sm-12">
                                    <div class="panel panel-inverse">
                                    <div class="panel-heading"> Detalle
                                        <div class="pull-right"><a href="javascript:void(0)" data-perform="panel-collapse"><i class="ti-minus"></i></a> </div>
                                    </div>
                                    <div class="panel-wrapper collapse in" aria-expanded="true">
                                        <div class="panel-body row">
                                            <div class="col-xs-6">
                                                <p class="alert alert-info">Monto Total del Contrato: $ <span id="montoTotal">3415.2</span></p>
                                            </div>
                                            <div class="col-xs-6">
                                                <p class="alert alert-warning">Monto del 20% de Incremento: $ <span id="incre"></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                {# aqui empieza la tabla #}
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table color-table dark-table" id="detalle">
                                            <thead>
                                                <tr>
                                                    <th>Codigo Producto</th>
                                                    <th>Proveedor</th>
                                                    <th>Nombre Producto</th>
                                                    <th>Unidades Compradas</th>
                                                    <th>Precio Unitario</th>
                                                    <th>Monto Comprado</th>
                                                    <th>Unidades a Incrementar</th>
                                                    <th>Sub Total: $</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1221</td>
                                                    <td>proveedor 1</td>
                                                    <td>producto 1</td>
                                                    <td></td>
                                                    <td>12.33</td>
                                                    <td>123.3</td>
                                                    <td><input id="1221" type="number" onchange="calcular(1221)" ></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>4222</td>
                                                    <td>proveedor 2</td>
                                                    <td>producto 2</td>
                                                    <td></td>
                                                    <td>23.32</td>
                                                    <td>349.8</td>
                                                    <td><input id="4222" type="number" onchange="calcular(4222)" ></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>3541</td>
                                                    <td>proveedor 3</td>
                                                    <td>producto 3</td>
                                                    <td></td>
                                                    <td>34.5</td>
                                                    <td>517.5</td>
                                                    <td><input id="3541" type="number" onchange="calcular(3541)" ></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>4351</td>
                                                    <td>proveedor 4</td>
                                                    <td>producto 4</td>
                                                    <td></td>
                                                    <td>21.23</td>
                                                    <td>424.6</td>
                                                    <td><input id="4351" type="number" onchange="calcular(4351)" ></td>
                                                    <td></td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                        <div class="alert alert-inverse">
                                                    <p>total a incrementar:<span id="incremento"></span></p>
                                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>


                    <div role="tabpanel" class="tab-pane" id="criticidad">
                        
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function() {
        CalculosIniciales();
        UnidadesCompradas();
        UnidadesAComprarPred();
        escrituraInicialSubTotales();
    });
    function CalculosIniciales(){
        /* calculod el 20% de monto total del incremento */
        var monto = parseFloat($('#montoTotal').html());
        var incre = monto * 0.20;
        $('#incre').html(incre);

    }
    function UnidadesCompradas() {
        $('#detalle tbody tr').each(function() {
            var precio = parseFloat($(this).find("td").eq(4).html());
            var tot = parseFloat($(this).find("td").eq(5).html());
            $(this).find("td").eq(3).html(tot/precio);

        });
    }
    function UnidadesAComprarPred() {
        $('#detalle tbody tr').each(function() {
            var monto = parseFloat($(this).find("td").eq(5).html());
            var valorIncre = monto*0.20;
            var precio = parseFloat($(this).find("td").eq(4).html());
            $(this).find("td").eq(6).find("input").val(parseInt(valorIncre/precio));
        });
    }
    function escrituraInicialSubTotales() {
        var subtotal = 0;
        $('#detalle tbody tr').each(function () {
            var precio = parseFloat($(this).find("td").eq(4).html());
            var uIncre = $(this).find("td").eq(6).find("input").val();
            $(this).find("td").eq(7).html(parseFloat(precio*uIncre).toFixed(2));
            });
        $('#detalle tbody tr').each(function () {
            subtotal = subtotal + parseFloat($(this).find("td").eq(7).html());
        });
        $('#incremento').html(subtotal);
        
    }
    function calcular(id) {

        var fila = $('#'+id).parent().parent();
        var precio = parseFloat(fila.find("td").eq(4).html());
        var unidades = fila.find("td").eq(6).find("input").val();
        var subviejo = parseFloat(fila.find("td").eq(7).html());
        var subnuevo = (precio*unidades).toFixed(2);
        if (subviejo < subnuevo) {
            var diferencia = subnuevo - subviejo;
        }
        else{
            var diferencia = subviejo - subnuevo;

        }
        var posibleTotal = parseFloat($('#incremento').html())+diferencia;
        var incrementoTotal = $('#incre').html();
        if (posibleTotal.toFixed(2) <= parseFloat(incrementoTotal)) {
            var precio = parseFloat(fila.find("td").eq(4).html());
            var uIncre = fila.find("td").eq(6).find("input").val();
            fila.find("td").eq(7).html(parseFloat(precio*uIncre).toFixed(2));
            escrituraInicialSubTotales();
        }
        else{
            alert("el monto de $"+diferencia+" sobrepasa la cantidad  20% del contrato");
        }
    }
    function calcularSubTotales() {
        var subtotal = 0;
        $('#tabla tbody tr').each(function () {
            
            subtotal = subtotal + parseFloat($(this).find("td").eq(7).html());
            });
        

        return subtotal;
             
    }
</script>
    
{% endblock %}