{% extends 'base.html.twig' %}
{% block body %}
{{ parent() }}

<div class="row">
<div class="white-box">
<h3 class="box-title">Analizador de prorroga de contratos</h3>
<div class="table-responsive">
	<table class="table color-table success-table">
		<thead>
			<tr>
				<th>Contrato</th>
				<th>Proveedor</th>
				<th>Establecimientos</th>
				<th>Codigo Medicamento</th>
				<th>Nombre Medicamento</th>
				<th>Cantidad Total Prorrogada</th>
				<th>Monto Total a prorrogar</th>
				<th>P-569</th>
				<th>p-600</th>
				<th>P-661</th>
				<th>P-663</th>
				<th>P-664</th>
				<th>P-665</th>
				<th>P-666</th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>
</div>
</div>
</div>
{% endblock %}