<footer class="footer text-center">
<b>Ministerio de Salud - Republica de El Salvador, C. A. </b><br />      
<a title="Política de Seguridad y Privacidad del MINSAL - El Salvador" href="http://www.salud.gob.sv/?p=2847">Política de Seguridad y Privacidad</a>
</footer>

