<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <div class="top-left-part">
           
            <a class="logo" href="">
                <b>
                    <img height="45" width="180" src="{{ asset('assets/') }}plugins/images/minsal.png" alt="home" class="light-logo" />
                </b>
            </a>
        </div>
        <div>
            <div class="col-md-9 navbar-blue">
                <h2 style="color:white;">MODULO DE INCREMENTO O PRORROGA DE CONTRATOS</h2>
            </div>
            <div class="col-md-1" >
                <ul class="nav navbar-nav navbar-right">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a class="col-lg-pull-3" href="{{ path('minsal_usuario_logout') }}"><span class="glyphicon glyphicon-user"></span> LOGOUT</a></li>
            {% endif %}
            </div>
        </ul>
        </div>
        
    </div>
</nav>